---

---

<header class="bg-transparent py-4 px-4 sm:px-6 lg:px-8 shadow-sm">
  <nav class="max-w-7xl mx-auto flex items-center justify-between">
    <div class="flex items-center">
      <a href="/" class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-6 h-6 text-blue-500"
        >
          <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
          <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
        </svg>
        <span class="ml-2 text-xl font-semibold text-blue-600">MindMate.ai</span
        >
      </a>

      <div class="hidden md:flex ml-10 space-x-8">
        <!-- <a
          href="#products"
          class="text-gray-700 hover:text-blue-600 font-medium">Products</a
        > -->
        <a
          href="#advantages"
          class="text-gray-700 hover:text-blue-600 font-medium">Advantages</a
        >
        <a href="#faq" class="text-gray-700 hover:text-blue-600 font-medium">Faq</a>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <a
        href="https://usemindmate.streamlit.app/"
        target="_blank"
        class="inline-flex items-center justify-center px-4 py-2 bg-blue-500 text-white rounded-full text-sm font-medium hover:bg-blue-600 transition-colors"
      >
        Try it Free
      </a>
    </div>
  </nav>
</header>
